
.icon-mail-alt:before { content: '\e800'; } /* '' */
.icon-odnoklassniki:before { content: '\e873'; } /* '' */
.icon-basket:before { content: '\e849'; } /* '' */
.icon-facebook:before { content: '\e856'; } /* '' */
.icon-github:before { content: '\e854'; } /* '' */
.icon-gplus:before { content: '\e855'; } /* '' */
.icon-html5:before { content: '\e859'; } /* '' */
.icon-rss:before { content: '\e822'; } /* '' */
.icon-linkedin:before { content: '\e852'; } /* '' */
.icon-pinterest-circled:before { content: '\e853'; } /* '' */
.icon-tumblr:before { content: '\e850'; } /* '' */
.icon-twitter:before { content: '\e851'; } /* '' */
.icon-vkontakte:before { content: '\e84f'; } /* '' */
.icon-youtube:before { content: '\e858'; } /* '' */
.icon-instagramm:before { content: '\e857'; } /* '' */