@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?91864512');
  src: url('../font/fontello.eot?91864512#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?91864512') format('woff'),
       url('../font/fontello.ttf?91864512') format('truetype'),
       url('../font/fontello.svg?91864512#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?91864512#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail-alt:before { content: '\e800'; } /* '' */
.icon-odnoklassniki:before { content: '\e873'; } /* '' */
.icon-basket:before { content: '\e849'; } /* '' */
.icon-facebook:before { content: '\e856'; } /* '' */
.icon-github:before { content: '\e854'; } /* '' */
.icon-gplus:before { content: '\e855'; } /* '' */
.icon-html5:before { content: '\e859'; } /* '' */
.icon-rss:before { content: '\e822'; } /* '' */
.icon-linkedin:before { content: '\e852'; } /* '' */
.icon-pinterest-circled:before { content: '\e853'; } /* '' */
.icon-tumblr:before { content: '\e850'; } /* '' */
.icon-twitter:before { content: '\e851'; } /* '' */
.icon-vkontakte:before { content: '\e84f'; } /* '' */
.icon-youtube:before { content: '\e858'; } /* '' */
.icon-instagramm:before { content: '\e857'; } /* '' */